# Development environment variables for local Docker Compose.
SERVER_ADDRESS=:8080

DB_HOST=db
DB_PORT=5432

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=house

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET_KEY=very-secret-key
